ul {
    list-style-type: none;
}

.menu-card-item-container {
    display: flex;
    flex-wrap: wrap;
}

.menu-card-container {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.menu-container {
    width: 100%;
}

.info {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.menu-card-img {
    width: 250;
    height: 150;
}

.menu-card-info {
    width: 500;
}